body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #003366;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: red;
}

main {
  padding: 2em;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-preventivo {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #003366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-preventivo:hover {
  background: white;
  color: #0033ff;
  border: 2px solid #0033ff;
  font-weight: bold;
}

.freccia {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2em;
  color: blue;
  text-decoration: none;
}

.freccia:hover {
  color: red;
}
